/CalculadoraHOC3/CalculadoraHOC3/nbproject/private/
/CalculadoraHOC3/CalculadoraHOC3/build/
/CalculadoraHOC4/CalculadoraHOC4/nbproject/private/
/CalculadoraHOC4/CalculadoraHOC4/build/
/CalculadoraHOC5/CalculadoraHOC5/nbproject/private/
/CalculadoraHOC5/CalculadoraHOC5/build/